.container {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(255,255,255, .2);
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.jumbotron {
    background: url('https://cdn.discordapp.com/attachments/906310571450855505/944728517466259476/zoom_background.jpg');
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-position-x: -250px;
    background-position-y: -150px;
}
h1 {
    margin-top: 30px;
    margin-bottom:50px;
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 4px 4px #aaa
}

.yoga_style{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

body {
    animation: 10000ms ease-in-out infinite color-change;
    
}

@keyframes color-change {

    0% {
        background-color: #D9D7F1;
    }

    20% {
        background-color: #FFFDDE;
    }

    40% {
        background-color: #E7FBBE;
    }

    60% {
        background-color: #FFCBCB;
    }

    80% {
        background-color: #DB7093;
    }

    100% {
        background-color: #D9D7F1;
    }
}
